    <div class="row">
      <div class="col-d-12">
        <div class="user">
          <%= post.user.name %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <%= post.title %>
        </div>
        <div class="description">
          <%= post.description %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="bxslider" id="image-view">
         <% post.images.each do |image|%>
         <a class="sb" href="<%= image.image.url %>"> <%= image_tag(image.image.url, size: "700x500") %> </a>
         <% end %>
       </div>
     </div>
     





