<div class="row">
  <div class="col-md-3">
       <%= render partial: 'friend_request/request', locals: { users: current_user.get_users } %>
  </div>
  <div class="col-md-6">
    <%= render 'posts/new'%>
   <% @posts_home.each do |post| %>
   <%= render partial: 'posts/post', locals: { post: post } %>
   <%= render partial: 'comments/index', locals: { comments: post.comments } %>
   <%= render partial: 'comments/form', locals: { post: post } %>
 </div>
</div>
<% end %>
</div>
<div class="col-md-3"></div>
</div>

